@font-face{
    font-family: myfont;
    src:url("../font/EF_jejudoldam.ttf");
}

@font-face{
    font-family: "kyobo";
    src:url("../font/Kyobo2022.ttf")
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
