*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{text-decoration:none;color:inherit;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: normal;}

/* font */

@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Jal_Haru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Haru.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* headerlayout */

html{font-size: 17px;
    font-family: 'Pretendard';}

.container{    
    /* border: 1px solid red; */
    width: 1920px;
    height: 190px;    
    margin:0 auto;
}

header{
    width: 1920px;
    height: 190px;
    /* border: 5px solid red; */
    background: #fff;       
    margin:0 auto;    
    z-index: 100;
    position: fixed;
    top: 0;
    left: 50%;    
    transform: translateX( -50% );    
    transition: all 0.5s ease 0s;
    /* overflow: hidden;  */
    

}

header:after{
    position: absolute;
    top: 190px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(28, 143, 201);;
    
}

header>.logoTop{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    
}


.menuBar> nav > ul > li{
    /* border: 1px solid red; */
    text-decoration-line: 3px solid blue;
    margin-top: 10px;
    transition: all 0.5s ease 0s;

}

.menuBar> nav > ul > li:hover{ 

    color: rgba(28,143,201);
    text-decoration-line: 3px solid blue;
    display: block;
    transition: all 0.5s ease 0s;
}
 

.menuBar> nav > ul:hover .menuB{ 
     
    display: block;
    color: black;
    background: #fff;
   
    
    }


.menuBar> nav > ul>li>ul>li:hover{    
    color: rgb(32, 32, 32);
    font-weight: 500;}





.menuBar>nav>ul>li>ul>li{
    /* border: 1px solid rgb(26, 255, 0); */
    font-size: 16px;
    margin: 5px 0;}


.menuBar{
    width: 100%;
    /* border: 1px solid red;     */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;  
    background: #fff;
    
    transition: all 0.5s ease 0s;

}


.menuBar> nav > ul{
    /* border: 1px solid rgb(0, 225, 255); */
    font-family: Pretendard;
    font-size:19px;
    font-weight: 300;
    color: rgb(35, 35, 35);    
    width: 930px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-left: 110px;
    
    
       
}
.menuBar> nav > ul > li {
    /* border: 1px solid red; */
    width: 160px;
    font-size: 17px;
    display: inline-block;
    line-height: 42px;
    
    
}

.menuBar> nav > ul >h4{
    border: 1px solid rgb(0, 225, 255);    
}


 .menuBar> nav > ul> li> ul{
    /* border: 1px solid red; */
    margin:35px 0;
    text-align: center;
    color: #949494;   
    display: none;

}




.searchBar{
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 30px;
    width: 270px;
    height: 42px;
    margin-right: 160px;
    
    line-height: 42px;
    /* margin-left: 100px; */
    
}

.menuBar > .searchBar > a > img{
    /* border: 1px solid red; */
    display: block;
    margin-left: 230px;
    position: absolute;
    margin-top: 7px;
    
}

/* ---------------------main---------------------------- */


main{
    width:1920px;
    height: 4500px;
    border: 1px solid red;
    padding-top: 190px;
   
}

.swiper.station1{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
}

.slideTxt> h3{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 900px;
    position: absolute;
    
    left: 200px;
    bottom: 20px;
    border: 2px solid lime;
    
    color: rgba(115, 172, 218);
    /* padding: 10px;     */
    transform: translateY(-390px);

}


.slideTxt>h2{
    font-family: Jal_Haru;
    font-size: 80px;
    font-weight: 700px;
    position: absolute;
    
    left: 200px;
    bottom: 20px;
    border: 2px solid lime;    
    color: rgb(31, 31, 31);
      
    transform: translateY(-180px);

}

.slideTxt> .first{
    position: absolute;
    left: 200px;
    width: 190px;
    height: 60px;
    color: #fff;
    background: rgba(115, 172,218);
    transform: translateY(-160px);
    text-align: center;
    line-height: 60px;

}

.slideTxt> .second{
    position: absolute;
    left: 200px;
    width: 190px;
    height: 60px;
    color: #fff;
    background: rgba(90, 100, 216);
    transform: translateY(-160px);
    text-align: center;
    line-height: 60px;

}



.swiper.station1{
    width: 100%;
    height: 600px;
    border: 1px solid red;
}

.station1>.train>li{
    border: 1px solid blue;
    position: relative;
}

.station1>.train>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideTxt{
    position: absolute;
    width: 80%;
    left: 20px;
    bottom: 20px;
    
    padding: 10px;
    transition: all 0.5s ease 0.5s;
    opacity: 0;
    transform: translateY(20px);

}

.station1>.train>li.swiper-slide-active .slideTxt{
    opacity: 1;
    transform: translateY(0px);
}

/* .station1 .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
}
.station1 .swiper-pagination {    
    background: orange;
} */


.slideTxt .momore{
    font-family: 'Pretendard';
    font-weight: 900px;

}



 .mainF> .partoneTop{
    width: 1920PX;
    margin-top: 200PX;
    margin-bottom: 100px;
    text-align: center;
}




.mainF> .partoneTop > h4 {
    font-family: 'Pretendard';
    font-size: 26px;
    font-weight: 700;
    border: 1px solid rgba(28, 143, 201);
    background: rgba(28, 143, 201);
    color: #fff;
    width: 100px; 
    height: 45px;
    border-radius: 40px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 20PX;    
    display: inline-block;
}

.mainF> .partoneTop > h1 {
    margin-bottom: 100px;
}

.mainF> .partoneTop > h2{
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 50px;
}


.mainF> .partoneTop > h2 > span{
    color: rgba(115, 172, 218);
}

.mainF> .partoneTop > img{
    height: 109px;    
}


/* .mainF>.partoneMid{
    margin: 0 auto;
    text-align: center;
} */

/* .mainF>.partoneMid>section>img{
    width: 900PX;
} */

.mainF>.partoneBot{
    
    border: 1px solid red;
    padding-top: 150px;
    padding-bottom: 150px;
    /* height: 1700px; */
    background: url('../img/circle-04.png') no-repeat;
    background-size: 901px 1042px;
    background-position: 50% 50%;
    font-family: 'rpet';
    display:flex;
    justify-content: space-between;
}

.mainF>.partoneBot>section>h3{
    font-family: 'Pretendard';
    font-weight: 600;    
    color: rgba(28, 143, 201);
    font-size: 58px;
    margin-bottom: 20px;
    
}


.mainF>.partoneBot>section>p{
    font-family: 'Pretendard';
    font-size: 32px;
    line-height: 120%;

}

.mainF>.partoneBot>section>h4{
    font-family: 'Pretendard';
    color: rgba(28, 143, 201);
    font-size: 40px;
    margin-bottom: 20px;

}

.mainF>.partoneBot>.a{
    position:relative;
    top: 300px;
    left: 100px;
}

.mainF>.partoneBot>.b{
    border: 1px solid red;
    text-align: right;
    position:relative;
    top: 40%;
    right: 100px;
}

.mainB{
    height: 5000px;
    background: #D9F1FF;
    text-align: center;
}

.mainB>h1>img{
    margin-top: 130px;
    margin-bottom: 25px;
    width: 50px;
}

.mainB>h2{    
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;   
    margin-bottom: 25px;
    
}
/* ------------------mainB-------------------- */
.mainB>h2>span{
    background-color:rgba(0, 121, 193);
    color: white;
    padding: 2px 5px;
}

.mainB>ul>li>h3{
    display: block; 
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 40px;    
}

.mainB>ul>li>p{    
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 300px;
    
}

.mainB>ul>li>div{
    display: block;     
    width: 59px;
    height: 59px;
    border: 1px solid red;
    background: #fff;
    border-radius: 30px;
    transform: translateX(80%);
}

.mainB>ul>li>h5{   
    color:rgba(28, 143, 201); 
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    transform: translateX(1000px);
    
}

footer{
    width: 1920px;
    height: 485px;
    padding-top: 190px;
    border: 1px solid rgb(0, 166, 255);
    /* position: relative; */
    /* top: 100%; */
}

footer>.logoBot>h1>img{
    
}